body{
    text-align: center;
    background-color: #011F3F;
}

h1{
    font-size: 3rem;
    height: 6rem;
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
    margin: 20px auto 40px auto;
}

.btn{
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    margin: 25px;
    border: 10px solid black;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.bilnk{
    background-color: grey;
}